body{
    background-color: white
}

.buy-our-food{
    font-size: 160px;
    font-family: italic;
    text-align: left;
    width: 82vh;

    color: rgb(27,152,32)
   



}

.we-hungry{
    font-size: 60px;

    color:rgb(236,8,245)



}

.576-237-gdh4{
    color:rgb(8,245,236
    )
} 

.produce {
    position: absolute; 
    top: 0; 
    z-index: -1;
    width: 100vw; 
}